<%= render "layouts/flash_messages" %>
<%= form_for(:session, url: login_path) do |f| %>

<div class="field form-group">
  <p>Select your cohort.</p>
  <%= f.label :cohort %>
  <%= collection_select(:student, :cohort_id, Cohort.all, :id, :name, {}, {class: "form-control"})%>
</div>

<div class="field form-group">
  <p>Select your name.</p>
  <%= f.label :name %>
  <%= collection_select(:student, :id, Student.all, :id, :name, {}, {class: "form-control"}) %>
</div>

<div class="field form-group">
  <%= f.label :email %>
  <%= f.email_field :email, placeholder: "Email", class: 'form-control' %>
</div>

<div class="field form-group">
  <%= f.label :password %>
  <%= f.password_field :password, placeholder: "Password", class: 'form-control' %>
</div>

<div class="actions">
  <%= f.submit "Log in", class: 'btn btn-default' %>
</div>
<% end %>