<%= form_for(@student) do |f| %>

  <div class="field form-group">
    <p>Welcome, <%= @student.name %>.
  </div>

  <div class="field form-group">
    <%= f.label :email %>
    <%= f.email_field :email, :size => "40", placeholder: "Email", class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= f.label :password %>
    <%= f.password_field :password, placeholder: "Password", class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, placeholder: "Password confirmation", class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= f.label :twitter_handle %>
    <%= f.text_field :twitter_handle, placeholder: "Twitter handle", class: 'form-control' %>
  </div>  

  <div class="field form-group">
    <%= f.label :linkedin_url %>
    <%= f.text_field :linkedin_url, placeholder: "LinkedIn URL", class: 'form-control' %>
  </div>  

  <div class="field form-group">
    <%= f.label :github_handle %>
    <%= f.text_field :github_handle, placeholder: "Github handle", class: 'form-control' %>
  </div>  

  <div class="actions">
    <%= f.submit "Save", :class => "btn btn-default" %>
  </div>

<% end %>