
<li>
  <%= cohort.name %> | <%= link_to "Follow All", follow_cohort_path(cohort, provider), method: :put, remote: true, class: "follow-all" %> | <%= link_to "Unfollow All", unfollow_cohort_path(cohort, provider), method: :delete %><span class="follow-success-<%=provider%>-<%= cohort.id %>"></span>
</li>

