
<li>
  <%= cohort.name %> | <%= link_to "Follow All", follow_cohort_github_path(cohort, provider), method: :put, remote: true, class: "follow-all" %> | <%= link_to "Unfollow All", unfollow_cohort_github_path(cohort, provider), method: :delete %><span class="follow-success-<%= cohort.id %>"> | Woohoo! You're now following <%= cohort.name %>!</span>
</li>

