<%= form_for(@student) do |f| %>

  <div class="field form-group">
    <p>Welcome, <%= @student.name %>.</p>
  </div>

  <div class="field form-group">
    <%= f.label :email %>
    <%= f.email_field :email, placeholder: "Email", class: 'form-control' %>
    <span id="helpBlock" class="help-block">Please sign up using your @flatironschool.com email address to confirm your identity.</span>
  </div>

  <div class="field form-group">
    <%= f.label :password %>
    <%= f.password_field :password, placeholder: "Password", class: 'form-control' %>
  </div>


  <div class="field form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, placeholder: "Password confirmation", class: 'form-control' %><br>
  </div>


  <div class="actions">
    <%= f.submit "Register", :class => "btn btn-default"%>
  </div>

<% end %>