<h2>Student Profile Page</h2>


<h3>Your Social Media Handles</h3>
<div class="student-summary">
	
Twitter: <%= @student.twitter_handle %><br>
Github: <%= @student.github_handle %><br>

<%= link_to "Edit Your Profile", edit_student_path(@student) %>
</div>

<h3>Connect Your Accounts</h3>

<h4>Github</h4>
<%= link_to 'Log in with Github',  login_github_path, id: "github-connect" %>
<%= link_to 'Log Out of Github', logout_github_path %>


<h4>Twitter</h4>
<%= link_to 'Log In with Twitter', twitter_login_path, id: "twitter-connect" %>
<%= link_to 'Log Out of Twitter', twitter_log_out_path %>

<% if logged_in_with_twitter? %>
  <div class="follow-twitter">
    <!-- all the classes you can follow -->
    <h4>Follow on Twitter</h4>
    <% @cohorts.each do |cohort| %>
      <%= render partial: 'follow_twitter', locals:{cohort: cohort, provider: "twitter"} %>
    <% end %>
  </div>
<% end %>

<% if logged_in_with_github? %>
  <div class="follow-github">
    <!-- all the classes you can follow -->
    <h4>Follow on Github</h4>
    <% @cohorts.each do |cohort| %>
      <%= render partial: 'follow_github', locals:{cohort: cohort, provider: "github"} %>
    <% end %>
  </div>
<% end %>