<%= form_for [:admin, @student] do |f| %>
  <div class="field form-group">
    <%= f.label :name %>
    <%= f.text_field :name, placeholder: "Name", class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= f.label :email %>
    <%= f.email_field :email, :size => "40", placeholder: "Email", class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= f.label :cohort %>
    <%= collection_select(:student, :cohort_id, Cohort.order('name DESC'), :id, :name, {:include_blank => "Cohorts"}, {class: "form-control"}) %>
  </div>

  <div class="field form-group">
    <%= f.label :twitter_handle %>
    <%= f.text_field :twitter_handle, placeholder: "Twitter handle", class: 'form-control' %>
  </div>  

  <div class="field form-group">
    <%= f.label :github_handle %>
    <%= f.text_field :github_handle, placeholder: "Github handle", class: 'form-control' %>
  </div>  

  <div class="actions">
    <%= f.submit "Save", :class => "btn btn-default" %>
  </div>

<% end %>
