<%= form_for :student do |f| %>

  <div class="field form-group">
    <p>Select your cohort.</p>
    <%= f.label :cohort %>
    <%= collection_select :student, :cohort_id, Cohort.all, :id, :name%>
  </div>
  <div class="field form-group">
    <p>Select your name.</p>
    <%= f.label :name %>
    <%= collection_select :student, :id, Student.all, :id, :name %>
  </div>

  <div class="actions">
    <%= f.submit "Sign Up", :class => "btn btn-default"%>
  </div>
<% end %>