<%= form_for :student do |f| %>

  <div class="field form-group">
    <p>Select your cohort.</p>
    <%= f.label :cohort %>
    <%= collection_select(:student, :cohort_id, Cohort.order('name DESC'), :id, :name, {:include_blank => "Cohorts"}, {class: "form-control", id: "cohort-dropdown"}) %>
  </div>
  <div class="field form-group">
    <p>Select your name.</p>
    <%= f.label :name %>
     <%= collection_select(:student, :cohort_id, Student.order('name ASC'), :cohort_id, :name, {include_blank: "Students"}, {class: "form-control", id: "student-by-cohort-dropdown"}) %>
  </div>

  <div class="actions">
    <%= f.submit "Sign Up", :class => "btn btn-default"%>
  </div>
<% end %>