<%= form_for [:admin, @cohort] do |f| %>
  <div class="field form-group">
    <p><%= f.label :name %></p>
    <p><%= f.text_field :name, placeholder: "Cohort Name", class: "form-control" %></p>
  </div>
  <div class="field form-group">
    <p><%= f.label :url %></p>
    <p><%= f.text_field :url, placeholder: "Cohort student page URL", class: "form-control" %></p>
  </div>
  <%= f.submit "Add", class: 'btn btn-default' %>
<% end %>