<% if current_student %>

  Hello, <%= current_student.name %>!

  <%= link_to "Log Out", logout_path %>
  <%= link_to "Home", root_url %>
  <%= link_to "My Profile", student_profile_path(current_student) %>

   <% if current_student.try(:admin?) %>

   <p>Cohorts Admin Menu</p>

   <ul>
    <li><%= link_to "Cohorts", cohorts_path %></li>
    <li><%= link_to "Add Cohort", new_cohort_path %></li>
   </ul>

   <% end %>

<% else %>

  <%= link_to "Log In", login_path %>

<% end %>

<br>
<br>